#content {
  .timeline {
    display: inline-block;
    width: 60%;
    border-left: 4px solid #6d928a;
    position: relative;
    background: #fff;
    text-align: left;
    margin-left: 120px;

    .event {
      .project {
        line-height: initial;
        .title {
          font-weight: bold;
          font-style: italic;
        }

        ul {
          list-style: inside;
        }
      }
    }

    &>li {
      position: relative;
      margin: 0 10px;
      padding: 20px;
      border-bottom: 1px dashed #a68173;
      &:last-child {
        border-bottom: none;
      }

      &::before {
        content: attr(data-date);
        position: absolute;
        left: -133px;
        top: 15px;
      }
      &::after {
        position: absolute;
        box-shadow: 0 0 0 4px #6d928a;
        left: -16.85px;
        background: #fff;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        content: "";
        top: 20px;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
